<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Service</title>
    <link rel="icon" href="repair.png" />
</head>
<body>
    <nav>
        <div>
            <div>
                <span> Car Service</span>
            </div>
        </div>
    </nav>

    <div>
        <div>
            <div>
                <ul>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">Report damage</a>
                    </li>
                    <li>
                        <a href="">Registrations</a>
                    </li>
                    <li>
                        <a href="">Sign in</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2>About us... </h2>
            </div>
            <div>
                A service for reporting car damages and malfunctions resulting from road accidents and collisions. 
                With a simple and intuitive interface, reporting damage takes only a few minutes. 
                Contact us to receive quick and efficient assistance in resolving your issue.
            </div>
        </div>
    </div>

</body>
</html>