<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Service</title>
    <link rel="icon" href="repair.png" />
</head>
<body>
    <nav>
        <div>
            <div>
                <span> Car Service</span>
            </div>
        </div>
    </nav>

    <div>
        <div>
            <div>
                <ul>
                    <li><a href="">Registrations</a></li>
                    <li><a href="">Add Registrations</a></li>
                </ul>
            </div>
            <div>
                <from>
                    <div>
                        <label for="">Title</label>
                        <input id="" name="" />
                    </div>
                    <div>
                        <label for="">Person name</label>
                        <input id="" name="" />
                    </div>
                    <div>
                        <label for="">Brand</label>
                        <input id="" name="" />
                    </div>
                    <div>
                        <label for="">Car registration number</label>
                        <input id="" name="" />
                    </div>
                    <div>
                        <label for="">Descripton</label>
                        <input id="" name="" />
                    </div>
                    <button type="submit">Save</button>
                </from>
            </div>
        </div>
    </div>


</body>
</html>